{{!-- Welcome and description --}}
<div class="row mx-auto d-flex justify-content-center">
    <div class="col-12 col-md-4 mt-5 mx-4 custom-welcome">
        <p class="display-6"><em>Welcome to the </em></p>
        <h1 class="display-4"> Neighborgood!</h1>
            <p id="welcome-text"> Community based sharing app where neighbors can post gently used items, comment, 
                ask questions, and claim items from other members of their community. 
            </p>
            <p>Neighborgood is currently in these cities. Check back soon to see if we've expanded into your neighborhood! </p>
        
    </div>

    {{!-- List of locations --}}
    <div class="col-12 col-md-3 mt-5 d-flex flex-column">
        {{!-- <h2> Locations: </h2> --}}
        {{#each locations as |location|}}
            {{> location-details }}
        {{/each}}
    </div>
</div>


        