<div class="row">
        <div class="col-12 md-12 mt-3">
            <h1>{{item.location.location}}</h1>
        </div>
    </div>
    {{#each items as |item|}}
    <div class="row mt-2">
        <div class="col-12 col-md-2">
            <img src="{{item.image}}" width="200">
        </div>
        <div class="col-12 col-md-7 d-flex flex-column justify-content-center">
            <h3>{{item.title}}</h3>
            <p>{{item.description}}</p>
        </div>
        <div class="col-12 col-md-3 d-flex align-items-center">
            <button>Claim</button>
        </div>
    {{/each}}
</div>