<h2 class="col-12"> NEW ITEM POSTING</h2>
<h3 class="col-12" id="user">by {{user.name}}</h3>

<form class="col-12 form new-item-form">
  <div class="form-group">
    <label for="titleInput">Item Title</label>
    <input class="form-control" id="titleInput" placeholder="Item Title">
  </div>

  <div class="form-group">
    <label for="itemDescription">Body of Article</label>
    <textarea class="form-control" id="itemDescription" rows="3"></textarea>
  </div>

  <div class="form-group">
    <button class="btn btn-primary" type="submit">
      POST ITEM
    </button>
  </div>
</form>

<script src="/js/dashboard.js"></script>