#main {
    padding:0px 30px; 
}

.custom-navbar {
    background-color: rgb(60, 136, 89);
}

.nav-item {
    color: white;
}

#logo {
    width:320px;
}

#welcome-text {
    font-size: 25px;
    padding-top: 10px;
}

.custom-locations {
    padding-left: 100px;
}

.loc-item {
    padding: 20px;
    text-decoration: none;
    color:rgb(132, 187, 153);
    font-size: 18px;
}

.custom-button {
    background-color: rgb(60, 136, 89);
    border: none;
}